name: Scheduled check and update

on:
  schedule:
    - cron: "0 12 * * *"
  workflow_dispatch:

jobs:
  main:
    strategy:
      matrix:
        addon: [sabnzbd, sonarr, radarr, lidarr]
    uses: ./.github/workflows/check-create-pr.yml
    with:
      addon: ${{ matrix.addon }}
      ref: ${{ github.ref }}
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
